In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
from prophet import Prophet 
from statsmodels.tsa.seasonal import seasonal_decompose 
import numpy as np

In [2]:
# Correct the path of the dataset 
data_path ='TSLA.csv' 
# load the data from the file
df =pd.read_csv(data_path) 

# display the first few rows  of the dataset
df.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500